:host {
    --color-bg-default: #FAFAFA;
    --color-bg-secondary: #f9f9f9;
    --color-fg-default: #5B522C;
    --color-fg-primary: #314550;
  	--color-btn-secondary-fg: #5B522C;
    --day-width: 2.25rem;
    --day-height: 2rem;
    
    --color-bg-inrange: #aebcc4;
    --color-bg-tooltip: #fff;
    --color-fg-tooltip: #5B522C;

}

.easepick-wrapper .container{
    border-radius: 0px;
}
.calendar>.days-grid>.day {
    border-radius: 0px !important;
}
